<div class="modal-content">
  <div class="modal-header">
    <ul class="nav nav-pills">
      <li class="btn category-name btn-primary m-1">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
      </li>
      <li class="btn category-name btn-primary m-1">
        <h5 class="modal-title" id="exampleModalLabel">Signup</h5>
      </li>
    </ul>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button id="close-modal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</div>